<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://cosmoschatdb.documents.azure.com:443/" />
    <add key="PrimaryKey" value="7LMUXtMhRPPPOETwvw2ODimhCD93TpxsLTt4Z37YdiZTXrVjcC5YsTfKnCiMXo2TbUArK2HC9Vl4ACDbwuMFEg==" />
  </appSettings>
</configuration>